data_raw/images/PlantVillage-Dataset/color/*
data_raw/sensors/*

data_work/*

results/combined/*
results/image_model/*
results/sensor_model/*

test_inputs/images/*
test_inputs/sensors/*

*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2
*.xz